/*=======================================
アクセスページ
=======================================*/

/* 住所情報 */
.addressBox {
  float: left;
  margin:0 20px 30px 0 ;
  width: 400px;
}

.mapBox {
  float:left;
  width:740px;
}