/* import common parts */
@import url("../common.css");
@import url("./pages__common.css");


/*         */
/* contact */
/*         */
.contactPage__heading {
  margin: 67px 0px 38px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: normal;
  letter-spacing: 0.05em;
  color: #333;
}

.contactPageForm__wrap {
  max-width: 1110px;
  width: calc( 100% - 80px );
  margin: 0 auto 70px;
  padding: 87px 20px 90px;
  background-color: #F7F7F7;
  /* border: 1px solid #AAAAAA; */
}

.contactPageForm {
  max-width: 930px;
  width: 100%;
  margin: 0 auto;
}

.contact__radioList {
  display: flex;
  flex-wrap: wrap;
}

.contact__radioItem {
  margin-bottom: 11px;
}

.contactPageForm__h {
  padding-top: 27px;
  font-size: 1.6rem;
  font-weight: normal;
  letter-spacing: 0.05em;
  color: #333;
}

.contactPageForm__h:first-child {
  padding-top: 16px;
}

.contactPageForm > .contactPageForm__h {
  padding-top: 0px;
  padding-bottom: 12px;
}

.req::after {
  content: "*必須";
  padding-left: 21px;
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 0.05em;
  color: #391E88;

}

input:focus, select:focus, textarea:focus {
  outline: none;
}

input[type=radio] {
  margin-top: 0px;
  margin-bottom:3px;
}

.contactPageForm__radio {
  margin-right: 55px;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 0.05em;
  color: #333;
}

.input__txt,
textarea,
select {
  margin-top: 8px;
  width: 278px;
  height: 18px;
  padding: 10px;
  border: 1px solid #AAAAAA;
  border-radius: 6px;
}

input[type=tel] {
  width: 178px;
}

textarea {
  width: 578px;
  height: 233px;
  resize: none;
}

select {
  width: 298px;
  height: 38px;
}

.contactForm__link {
  background-color: transparent;
  border: none;
  color: #fff;
}

.contact__linkWrap {
  margin-top: 50px;
}

@media screen and (max-width:768px) {
  .contactPage__heading {
    margin: 37px 0 28px;
    font-size: 1.4rem;
    line-height: calc(23/14);
  }

  .comtactPageForm__wrap {
    width: calc( 100% - 60px );
    padding: 27px 30px 60px 30px;
    margin-bottom: 40px;
  }

  .contactPageForm__h {
    font-size: 1.5rem;
    padding-bottom: 13px;
  }

  .input__txt,
  textarea,
  select {
    max-width:  273px;
    width: calc( 100% - 22px );
  }
}