/* import common parts */
@import url("../common.css");
@import url("./pages__common.css");


/*         */
/* recruit */
/*         */
.recruitPage__wrap {
  background: url(../../img/bg-geometry.png);
  padding-bottom: 110px;
}

.recruitPage__title {
  padding-top: 116px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 7.2rem;
  font-weight: bold;
  letter-spacing: 0.01em;
  color: #391E88;
}

.recruitPage__heading {
  margin-top: 8px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 3.2rem;
  font-weight: normal;
  letter-spacing: 0.05em;
  color: #391E88;
}

.recruitPage__headingText {
  margin-top: 34px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  letter-spacing: 0.05em;
  line-height: calc(7/4);
  color: #333;
}

.recruitPage__imgWrap {
  width: 100%;
  height: 780px;
  margin-top: 38px;
  overflow: hidden;
  background: url(../../img/recruit01.jpg) center center no-repeat;
  background-size: cover;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
}

.recruitPageInfo__title {
  padding-top: 57px;
}

.recruitPageInfo__wrap {
  max-width: 1070px;
  width: calc( 100% - 40px );
  margin: 35px auto 76px;
  background-color: #fff;
  border: 1px solid #B8AED5;
  border-radius: 10px;
}

.recruitPageInfo__heading {
  margin-top: 57px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #333;
}

.recruit__table {
  max-width: 920px;
  width: calc( 100% - 40px );
  margin: 45px auto 50.5px;
  font-size: 1.5rem;
}

.recruit__th, .recruit__td {
  padding: 28.5px 0px 28.5px 22px;
}

.page__tr {
  border-bottom: 1px solid #DDDDDD;
}

.page__th {
  width: 158px;
}

.recruit__td > p {
  line-height: calc(9/5);
  margin-bottom: 15px;
}

.recruit__td li {
  line-height: calc(9/5);
  margin-left: 15px;
  position: relative;
}

.recruit__td li::before {
  content: 'ãƒ»';
  position: absolute;
  top: 0px;
  left: -15px;
}

.recruitPageInfo__linkText {
  margin: 8px 0 58px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 0.05em;
  color: #333;
}

.recruitPageMovie__title {
  margin-top: 0px;
  padding-top: 57px;
  margin-bottom: 35px;
}

.recruitPageMovie__wrap {
  max-width: 1110px;
  width: calc( 100% - 40px );
  margin: 0 auto;
}

.iframe__wrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin: 0 auto;
  /* overflow: hidden; */
}

.iframe__wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

@media screen and (max-width:768px) {
  .recruitPage__title {
    font-size: 4.8rem;
    line-height: calc(7/6);
  }

  .recruitPage__heading {
    margin-top: 12px;
    font-size: 1.8rem;
  }

  .recruitPage__headingText {
    margin-top: 19px;
    font-size: 1.5rem;
  }

  .recruitPageInfo__title {
    margin-top: 35px;
    padding-top: 0;
    font-size: 2.4rem;
  }

  .recruitPageInfo__wrap {
    width: calc( 100% - 40px );
    margin: 27px auto 75px;
  }

  .recruitPageInfo__heading {
    margin-top: 28px;
    font-size: 1.6rem;
    color: #391E88;
  }

  .recruit__table {
    margin: 32px auto 40px;
  }

  .page__tr {
    display: flex;
    flex-flow: column wrap;
  }

  .recruit__th, .recruit__td {
    font-size: 1.6rem;
    font-weight: normal;
    letter-spacing: 0.05em;
    text-align: left;
  }
  
  .recruit__th {
    font-family: "Hiragino Sans W6";
    padding: 17.5px 0px 8px 0;
  }

  .recruit__td {
    font-family: "Montserrat";
    padding: 0 0 20.5px 0;
  }

  .recruitPageInfo__linkText {
    margin-bottom: 31px;
  }

  .recruitPageMovie__title {
    margin-top: 0;
    padding-top: 0;
    font-size: 2.4rem;
    margin-bottom: 27px;
  }

  .recruitPageMovie__wrap {
    width: calc( 100% - 40px );
  }

}