/* import common parts */
@import url("../common.css");
@import url("./pages__common.css");


/*         */
/* company */
/*         */
.company__wrap {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
  background: url(/img/bg-circle.png) center center no-repeat;
  background-size: contain;
  position: relative;
}

.company__wrap::after {
  position: absolute;
  content: '';
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url(/img/bg-face.png) center center no-repeat;
  z-index: -10;
}

.company__headingWrap {
  padding-top: 135px;
}

.company__copyWrap {
  max-width: 666px;
  margin: 30px auto 0;
}

.company__copy {
  font-size: 4.0rem;
  font-weight: normal;
  letter-spacing: 0.05em;
  line-height: 0.64;
  position: relative;
}

.company__copy::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 100%;
  border-bottom: solid 12px #F5F534;
  z-index: -10;
}

.company__text {
  max-width: 451px;
  margin: 51px auto 30px;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  line-height: 1.8;
  text-align: center;
}

.companyPage_Wrap::after {
  top: 35px;
}

.companyPage__contents {
  max-width: 1060px;
  margin: 140px auto 133px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.companyPage__imgWrap {
  width: 46%;
  height: 330px;
  /* margin-right: 50px; */
}

.companyPage__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.companyPage__text {
  width: 54%;
  margin-left: 50px;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  line-height: calc(25 / 15);
}

.companyInfo__heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  /* line-height: calc(98/32); */
  text-align: center;
  color: #391E88;
}

.page__table {
  max-width: 1110px; 
  margin: 26px auto 60px;
  table-layout: fixed;
  border-collapse: collapse;
}

.page__tr {
  border-bottom: 1px solid #DDDDDD;
}

.page__th, .page__td {
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: 0.05em;
  text-align: left;
  padding: 28.5px 0px 28.5px 30px;
}

.page__th {
  width: 143px;
}

.companyInfo__gmap {
  max-width: 1070px;
  margin: 0 auto 109px;
  padding: 0 20px;
}

.companyInfo__gmapLink {
  padding-top: 7px;
  font-size: 1.6rem;
  letter-spacing: 0.05em;
  color: #240C6A;
}


@media screen and (max-width:768px) {
  .company__wrap::after {
    display: none;
  }

  .company__copy {
    width: 300px;
    margin: 0 auto;
    font-size: 3.2rem;
    line-height: calc(41/32);
  }

  .companyPage__contents {
    margin: 55px 0 142px;
    flex-wrap: wrap;
  }

  .companyPage__imgWrap {
    width: 100%;
    height: auto;
  }

  .companyPage__text {
    width: 100%;
    margin: 30px 0 0;
  }

  .companyInfo__heading {
    margin-bottom: 26.5px;
  }

  .page__table {
    width: calc( 100% - 40px);
    margin: 0 auto;
    padding: 0 20px;
  }

  .page__tr {
    display: flex;
    flex-flow: column wrap;
  }

  .page__th, .page__td {
    font-size: 1.6rem;
    font-weight: normal;
    letter-spacing: 0.05em;
    text-align: left;
  }
  
  .page__th {
    font-family: "Hiragino Sans W6";
    padding: 17.5px 0px 8px 0;
  }

  .page__td {
    font-family: "Montserrat";
    padding: 0 0 20.5px 0;
  }

  .companyInfo__gmap {
    margin-bottom: 76px;
  }

}