/*        */
/* common */
/*        */
html {
  font-size: 62.5%;
}

body {
  font-family: "Hiragino Sans W6", "Hiragino Sans W3", "Hiragino Sans W7", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}


.slick-dots {
  text-align: end;
}

.slick-dots li {
  margin: 0 2px;
}

.slick-dots li button {
  padding: 2px;
}

.slick-prev {
  left: 25px;
}

.slick-next {
  right: 25px;
}

.slick-arrow {
  z-index: 1;
}


/*             */
/* Link Button */
/*             */
.contents__linkButton {
  width: 200px;
  height: 60px;
  margin: 0 auto;
  border-radius: 50px;
  position: relative;
  z-index: 0;
}

.contents__linkButton::before {
  content: '';
  position: absolute;
  /* top: 0px; */
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(to right, #7633A4, #250D65);
  transition: 0.3s ease 0s;
  z-index: -1;
}

.contents__linkButton:hover::before {
  opacity: 0;
}

.contents__linkButton::after {
  content: '';
  position: absolute;
  /* top: 0px; */
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(to left, #7633A4, #250D65);
  transition: 0.3s ease 0s;
  z-index: -2;
}

.contents__link {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.contents__link::before {
  content: '';
  position: absolute;
  right: 25px;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #fff;
  transition: 0.3s ease 0s;
}

.contents__link:hover::before {
  right: 20px;
  transition: 0.3s ease 0s;
}



/*               */
/* Scroll Button */
/*               */
.scroll__button {
  position: fixed;
  bottom: 45px;
  right: 45px;
  width: 50px;
  height: 50px;
  background-color: #391E88;
  border-radius: 50px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease 0s;
 }
 
.scroll__link {
 top: 0px;
 left: 0px;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 0.3s ease 0s;
}

.hidden {
 visibility: visible;
 opacity: 1;
 transition: 0.3s ease 0s;
}



/*                 */
/* index page link */
/*                 */
.topPage__button {
  position: fixed;
  bottom: 50px;
  left: 50px;
  width: 150px;
  height: 150px;
  background-color: #efefef;
  border: 5px solid #ffffff;
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease 0s;
}

.topPage__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1.5;
  text-decoration: none;
  color: #333;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: 0.3s ease 0s;
}



/*            */
/* Header Nav */
/*            */
.hNavWrap {
  position: fixed;
  /* width: 100%; */
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24.5px 30px;
  z-index: 1;
  transition: 0.3s ease 0s;
}

.hNav__hamburger {
  display: none;
}

.hNav__right {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.06em;
}

.hNav__rightItem {
  margin-left: 25px;
  padding: 5.5px 0px;
  position: relative;
  overflow: hidden;
}

.hNav__rightLink::after {
  position: absolute;
  content: '';
  overflow: hidden;
  bottom: 0px;
  left: 0px;
  width: 100%;
  border-bottom: 1px solid #fff;
  transform: translateX(-100%);
  transition: 0.3s ease 0s;
}

.hNav__rightLink:hover::after {
  transform: translateX(0%);
  transition: 0.3s ease 0s;
}

.transform {
  /* height: 65px; */
  background-color: #21054D;
  padding: 17.5px 30px;
  z-index: 1;
  transition: 0.3s ease 0s;
}



/*                */
/* Section Header */
/*                */
.contents__headingWrap {
  text-align: center;
  padding-top: 70px;
}

.contents__heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3.6rem;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 0.88;
  color: #391E88;
}

.contents__subHeading {
  font-size: 1.3rem;
  font-weight: normal;
  letter-spacing: 0.1em;
  line-height: 2.46;
  color: #391E88;
}



/*            */
/* news link */
/*            */
.news__link {
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  line-height: 1.8;
  color: #000;
  display: flex;
  flex-wrap: wrap;
}

.news__link:not(:last-child) {
  margin-bottom: 15px;
}

.news__category {
  min-width: 82px;
  height: 22px;
  border-radius: 50px;
  background-color: #E8E8E8;
  margin: auto 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-align: center;
  vertical-align: middle;
}

.news__category > span {
  line-height: 1.8;
  display: block;
  justify-content: center;
  align-items: top;
}

.news__text {
  max-width: 700px;
}

.news__text:hover {
  text-decoration: underline;
}



/*         */
/* contact */
/*         */
.contact__wrap {
  background-color: #F7F7F7;
  padding-bottom: 79px;
}

.contact__headingWrap {
  padding-top: 80px;
}

.contact__text {
  text-align: center;
  margin: 30px 0;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  line-height: 2.133;
}



/*        */
/* footer */
/*        */
.footer {
  background-color: #120E19;
  text-align: center;
  padding-bottom: 60px;
  position: relative;
 }

.fNav {
 padding:60px 0 22px;
}

.fNav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.fNav__item {
 font-family: "Montserrat", sans-serif;
 font-size: 1.4rem;
 font-weight: normal;
 letter-spacing: 0.06em;
 line-height: 1.07;
 transition: 0.3s ease 0s;
}

.fNav__item:hover {
 opacity: 0.7;
 transition: 0.3s ease 0s;
}

.fNav__item:not(:last-child) {
  padding-right: 30px;
}

.footer__copyright {
 font-family: "Montserrat", sans-serif;
 font-size: 1.0rem;
 font-weight: normal;
 letter-spacing: 0.05em;
 line-height: 1.2;
 color: #A798B7;
}

@media screen and (max-width:768px) {

  .contents__headingWrap {
    padding-top: 0;
  }

  .contents__heading {
    font-size: 3.0rem;
  }

  .contents__subHeading {
    text-align: center;
  }

  .break::before {
    content: "\A";
    white-space: pre;
  }
  
  .is-hidden {
    z-index: -10;
  }

  .hNav__hamburger {
    position: absolute;
    top: 24.5px;
    right: 20px;
    width: 30px;
    height: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    z-index: 3;
    transition: 0.3s ease 0s;
  }

  .transform-ham {
    top: 17.5px;
    transition: 0.3s ease 0s;
  }

  .hNav__hamburger__bar,
  .hNav__hamburger__bar::before,
  .hNav__hamburger__bar::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    display: flex;
    height: 2px;
    width: 30px;
    align-items: center;
    background-color: #fff;
    transition: all 0.3s ease 0s;
  }

  .hNav__hamburger__bar::before {
    position: absolute;
    top: -8px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  
  .hNav__hamburger__bar::after {
    position: absolute;
    top: 8px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  /*                       */
  /* hamburger 3 line -> x */
  /*                       */
  .hNav__hamburger__bar.is-cross {
    background-color: rgba(255, 255, 255, 0);
  }
  
  .hNav__hamburger__bar.is-cross::before {
    top: 0;
    transform: rotate(45deg);
    transition: all 0.3s ease 0s;
  }
  
  .hNav__hamburger__bar.is-cross::after {
    top: 0;
    transform: rotate(-45deg);
    transition: all 0.3s ease 0s;
  }

  /*      */
  /* menu */
  /*      */
  .hNav__right {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 35vh;
    display: flex;
    flex-flow: column wrap;
    background: linear-gradient(135deg,  #642390, #19074A);
    visibility: hidden;
    opacity: 0;
    transition: all .3s linear;
  }
  
  .hNav__right.is-active {
    visibility: visible;
    opacity: 1;
    transition: all .3s linear;
  }

  .hNav__rightItem {
    margin-bottom: 20px;
    margin-left: 0;
  }


  /*        */
  /* footer */
  /*        */
  .scroll__button {
    bottom: 20px;
    right: 20px;
  }

  .fNav__item {
    margin-bottom: 20px;
  }


}